@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html,
body {
  position: relative;
  scroll-behavior: smooth;
}

html,
body,
header,
#home,
#about,
#project,
#contact {
  min-height: 100vh;
  position: relative;
}

#home,
#about,
#project {
  background: #ffffff;
}

#contact {
  border-top: 0.5px solid #dee2e6;
  background: rgb(233, 236, 239);
  background: linear-gradient(
    360deg,
    rgba(233, 236, 239, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(233, 236, 239, 1) 100%
  );
}

#myport,
#skill {
  min-height: 40vh;
  position: relative;
  border: 0.5px solid #dee2e6;
  background: rgb(233, 236, 239);
  background: linear-gradient(
    360deg,
    rgba(233, 236, 239, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(233, 236, 239, 1) 100%
  );
}

.nav-link,
.navbar-brand {
  font-size: 18px;
  color: #212529;
  font-weight: 600;
}

.down-link {
  bottom: 0%;
  position: absolute;
}

.padding-page {
  padding-top: 90px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 50px;
}

.padding-top {
  padding: 60px 10px;
}

.site-blocks-cover {
  min-height: 100vh;
}

#navbar {
  padding: 15px 10px;
  background: #ffffff;
}

.heading-home {
  font-size: 4em;
  font-weight: 900;
  color: #343a40;
  cursor: pointer;
}

.heading-low {
  font-weight: 700;
  color: #495057;
  font-size: 20px;
}

.home-sub-text {
  margin-top: 50px;
  color: #6c757d;
}

.heading-sub {
  color: #343a40;
  text-transform: uppercase;
  font-size: 18px;
}

.span-link {
  padding: 2px 6px 2px;
  color: #212529;
}
.span-link:hover {
  color: #5a5a5a;
  transition: width 0.3s;
}
.active span.span-link {
  background: #212529;
  color: #ffffff;
  transition: 1s;
}

.a-link {
  color: #6c757d;
  font-size: 14px;
  margin: 0px 2px;
}
.a-link:hover {
  text-decoration: none;
  color: #6c757d;
}
.text-content {
  color: #495057;
  font-size: 16px;
}

.hidden-img {
  position: fixed;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  bottom: 0;
  right: 0;
  z-index: 0;
  opacity: 0;
}

h1.heading-home:hover img.hidden-img {
  opacity: 1;
}

.border-navbar {
  left: 0%;
  bottom: 0%;
  position: absolute;
  height: 2.5px;
  width: 0%;
  background: black;
  transition: width 0.5s ease;
}

.header-text {
  font-size: 2em;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.skill-box {
  display: inline-block;
  margin: 20px;
}
.frame {
  height: 100px;
  width: 100px;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}
.frame img {
  width: 70%;
}
.frame img:hover {
  transition: 0.3s ease-in-out;
  width: 90%;
}

.card,
.card-body {
  border: 0px !important;
  margin-bottom: 20px;
}
p.card-head-text {
  color: #343a40;
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s;
}
.card .card-body p a {
  text-transform: uppercase;
  margin: 0.1em 0.2em 0.45em;
  padding: 0.4em 0.6em;
  font-weight: 600;
  border: 2px solid #3333;
  -webkit-box-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #3333, 3px 3px 0 #333;
  box-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #3333, 3px 3px 0 #333;
  display: inline-block;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.5s ease-out;
  background: #212529;
  color: #ffffff;
  font-size: 0.8em;
  text-decoration: none;
}
.card .card-body p a:hover {
  border-bottom: 2px solid #212529;
  background: #fff;
  color: #212529;
  text-shadow: 1px 1px 0 transparent;
}
.card:hover p.card-head-text {
  transition: 0.3s;
  font-size: 24px;
}
.card:hover .card-body p a {
  transition: 0.3s;
  font-size: 1em;
}
.box-shadow {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.img-project {
  border-bottom: 0.5px solid #3333;
}
.img-project img {
  height: 225px;
  width: 100%;
}
.img-about img {
  margin-top: 100px;
  margin-left: 50px;
  height: 400px;
}

.btn-work {
  text-transform: uppercase;
  color: #343a40;
  font-weight: 600;
  font-size: 16px;
  margin: auto;
  padding: 0.6em 0.6em;
  width: 100px;
  height: 50px;
  border: 1px solid #495057;
  border-radius: 2px;
  background-color: white;
  text-align: center;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
.btn-work:hover {
  color: #ffffff;
  transition: width 2s ease;
  background-color: #212529;
  box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.btn-gotop {
  position: fixed;
  width: 0px;
  height: 0px;
  border-radius: 2px;
  background: #ffffff;
  bottom: 30px;
  right: 30px;
  text-align: center;
  line-height: 50px;
  border: 0.5px solid #5a5a5a;
  box-shadow: 2px 2px 4px rgba(1, 1, 1, 1);
  opacity: 0;
}
.btn-active {
  opacity: 1;
  width: 50px;
  height: 50px;
  animation: boxTop 0.5s;
}
@keyframes boxTop {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.btn-openNav {
  width: 0;
}

@media (max-width: 991px) {
  .heading-home {
    font-size: 2.5em;
    font-weight: 900;
  }
  .heading-low {
    font-size: 16px;
  }
  .header-text,
  .heading-sub {
    margin-top: 5vh;
  }
  .padding-top {
    padding: 20px 10px;
  }
  .padding-bot {
    padding: 20px 10px;
  }
  #navbar {
    padding: 8px 10px;
  }
  .img-about img {
    margin-top: 20px;
    margin-left: 20px;
    height: 250px;
    width: 312px;
  }
  .padding-page {
    padding-top: 80px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
  }
  .padding-page div div div div div img {
    margin-top: 25px;
  }
  h1.heading-home:hover img.hidden-img,
  h1.heading-home:hover p.hidden-text {
    opacity: 0;
  }
  .btn-work {
    margin-bottom: 50px;
  }
  .btn-gotop,
  .btn-gotop img {
    width: 0;
    border: 0;
    box-shadow: 0;
  }
}
@media (max-width: 760px) {
  .btn-openNav {
    cursor: pointer;
    font-size: 36px;
    position: fixed;
    top: 10px;
    right: 50px;
    z-index: 100000;
  }
}

@media (max-width: 1060px) {
  .img-about img {
    margin-top: 20px;
    margin-left: 20px;
    height: 250px;
  }
  #home,
  #about,
  #project,
  #contact {
    min-height: 60vh;
  }
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1000000; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 0%;
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 100px;
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  text-transform: uppercase;
  color: #dee2e6;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
  text-decoration: none;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  /* top: 10%; */
  right: 5%;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
