@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  position: relative;
  scroll-behavior: smooth;
}

html,
body,
header,
#home,
#about,
#project,
#contact {
  min-height: 100vh;
  position: relative;
}

#home {
  background: #ffffff;
}

#about {
  background: #ffffff;
}

#project {
  background: #ffffff;
}

#contact {
  background: #e9ecef;
}

#skill {
  min-height: 40vh;
  position: relative;
  background: #343a40;
}

#myport {
  min-height: 40vh;
  position: relative;
  background: #e9ecef;
}

.nav-link,
.navbar-brand {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #212529;
  font-weight: 600;
}

.down-link {
  bottom: 0%;
  position: absolute;
}

.padding-top {
  padding: 60px 10px;
}

.site-blocks-cover {
  min-height: 100vh;
}

#navbar {
  padding: 15px 10px;
  background: #ffffff;
}

.heading-home {
  font-family: "Poppins", sans-serif;
  font-size: 4em;
  font-weight: 900;
  color: #343a40;
  cursor: pointer;
}

.heading-low {
  font-weight: 700;
  color: #495057;
  font-size: 20px;
}

.home-sub-text {
  margin-top: 50px;
  color: #6c757d;
}

.heading-sub {
  font-family: "Poppins", sans-serif;
  color: #343a40;
}

.span-link {
  padding: 2px 6px 2px;
  color: #212529;
}
.span-link:hover {
  color: #5a5a5a;
  transition: width 0.3s;
}
.active span.span-link {
  background: #212529;
  color: #ffffff;
  transition: 1s;
}

.a-link {
  color: #6c757d;
  font-size: 14px;
  margin: 0px 2px;
}
.a-link:hover {
  text-decoration: none;
  color: #6c757d;
}
.text-content {
  font-family: "Poppins", sans-serif;
  color: #495057;
  font-size: 16px;
}

.hidden-img {
  position: absolute;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  bottom: 0;
  right: 0;
  z-index: 0;
  opacity: 0;
}

.hidden-text {
  position: fixed;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  bottom: 35%;
  right: 15%;
  z-index: 0;
  opacity: 0;
  font-size: 16px;
  font-weight: 500;
}

/* h1.heading-home:hover img.hidden-img,
h1.heading-home:hover p.hidden-text {
  opacity: 1;
} */

.border-navbar {
  left: 0%;
  bottom: 0%;
  position: absolute;
  height: 2.5px;
  width: 0%;
  background: black;
  transition: width 0.5s ease;
}

.header-text {
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.skill-box {
  display: inline-block;
  margin: 20px;
}
.frame {
  height: 100px;
  width: 100px;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}
.frame img {
  width: 70%;
}
.frame img:hover {
  transition: 0.3s ease-in-out;
  width: 90%;
}

.card,
.card-body {
  font-family: "Poppins", sans-serif;
  border: 0px !important;
  margin-bottom: 20px;
}
p.card-head-text {
  color: #343a40;
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s;
}
.card .card-body p a {
  text-transform: uppercase;
  margin: 0.1em 0.2em 0.45em;
  padding: 0.4em 0.6em;
  font-weight: 600;
  border: 2px solid #3333;
  -webkit-box-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #3333, 3px 3px 0 #333;
  box-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #3333, 3px 3px 0 #333;
  display: inline-block;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.5s ease-out;
  background: #212529;
  color: #ffffff;
  font-size: 0.8em;
  text-decoration: none;
}
.card .card-body p a:hover {
  border-bottom: 2px solid #212529;
  background: #fff;
  color: #212529;
  text-shadow: 1px 1px 0 transparent;
}
.card:hover p.card-head-text {
  transition: 0.3s;
  font-size: 24px;
}
.card:hover .card-body p a {
  transition: 0.3s;
  font-size: 1em;
}
.box-shadow {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.img-project {
  border-bottom: 0.5px solid #3333;
}
.img-project img {
  height: 225px;
  width: 100%;
}

.img-about img {
  margin-top: 100px;
  margin-left: 50px;
  height: 400px;
}

@media (max-width: 991px) {
  .heading-home {
    font-size: 2.5em;
    font-weight: 900;
  }
  .heading-low {
    font-size: 16px;
  }
  .header-text,
  .heading-sub {
    margin-top: 5vh;
  }
  .padding-top {
    padding: 20px 10px;
  }
  .padding-bot {
    padding: 20px 10px;
  }
  #navbar {
    padding: 8px 10px;
  }
  .img-about img {
    margin-top: 20px;
    margin-left: 20px;
    height: 250px;
    width: 312px;
  }
}
